*{
    margin: auto;
    padding: auto;

}
h3,h2{
    color: darkcyan;
    font-size:200%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10%;

}
p{
    color: darkblue;
    font-size:100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
}
body{
    background-color: rgba(245, 245, 245, 0.842);
    text-align: center;
}
.articulo{
    background-color: antiquewhite;
    padding: 3%;
    margin: 2%;
}
.seccion{
    background-color: rgb(255, 205, 255);
    padding: 5%;
    margin: 2%;
}