*{
    margin: auto;
    padding: auto;

}
h3,h2{
    color: rgb(91, 0, 211);
    font-size:200%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10%;
    text-align: center;

}
p{
    color: darkblue;
    font-size:100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
}
body{
    background-color: rgb(149, 165, 166 );
    
}
.articulo{
    background-color: antiquewhite;
    padding: 3%;
    margin: 2%;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    
}
.section{
    background-color: rgb(255, 205, 255);
    padding: 5%;
    margin: 2%;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}
#cabecera{
    background-color: aquamarine;
    color: black;
    margin: 10%;
    padding: 5%;
    font-weight: bolf;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}